/* Webfont: Secuela-SemiBold */@font-face {
    font-family: 'SecuelaSemBd';
    src: url('Secuela-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('Secuela-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('Secuela-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

