/* Webfont: Secuela-ExtraBold */@font-face {
    font-family: 'SecuelaExtBd';
    src: url('Secuela-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('Secuela-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-ExtraBold.woff') format('woff'), /* Modern Browsers */
         url('Secuela-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

