/* Webfont: Secuela-Light */@font-face {
    font-family: 'SecuelaLight';
    src: url('Secuela-Light.eot'); /* IE9 Compat Modes */
    src: url('Secuela-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-Light.woff') format('woff'), /* Modern Browsers */
         url('Secuela-Light.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

