/* Webfont: Secuela-ExtraLight */@font-face {
    font-family: 'SecuelaExtLt';
    src: url('Secuela-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('Secuela-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('Secuela-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

