/* Webfont: Secuela-Regular */@font-face {
    font-family: 'Secuela';
    src: url('Secuela-Regular.eot'); /* IE9 Compat Modes */
    src: url('Secuela-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-Regular.woff') format('woff'), /* Modern Browsers */
         url('Secuela-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

