/* Webfont: Secuela-Medium */@font-face {
    font-family: 'SecuelaMed';
    src: url('Secuela-Medium.eot'); /* IE9 Compat Modes */
    src: url('Secuela-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-Medium.woff') format('woff'), /* Modern Browsers */
         url('Secuela-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

