/* Webfont: Secuela-Bold */@font-face {
    font-family: 'Secuela';
    src: url('Secuela-Bold.eot'); /* IE9 Compat Modes */
    src: url('Secuela-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-Bold.woff') format('woff'), /* Modern Browsers */
         url('Secuela-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

