
docs/Specimen-Secuela.png
FONTLOG.txt
Italic-fonts/OpenType-PS/Secuela-BoldItalic.otf
Italic-fonts/OpenType-PS/Secuela-ExtraBoldItalic.otf
Italic-fonts/OpenType-PS/Secuela-Italic.otf
Italic-fonts/OpenType-PS/Secuela-LightItalic.otf
Italic-fonts/OpenType-PS/Secuela-MediumItalic.otf
Italic-fonts/OpenType-PS/Secuela-SemiBoldItalic.otf
Italic-fonts/OpenType-TT/Secuela-BoldItalic.ttf
Italic-fonts/OpenType-TT/Secuela-ExtraBoldItalic.ttf
Italic-fonts/OpenType-TT/Secuela-Italic.ttf
Italic-fonts/OpenType-TT/Secuela-LightItalic.ttf
Italic-fonts/OpenType-TT/Secuela-MediumItalic.ttf
Italic-fonts/OpenType-TT/Secuela-SemiBoldItalic.ttf
Italic-fonts/Variable-TT/Secuela-Italic-1_708-rl1001-VF.ttf
Italic-fonts/Variable-TT/Secuela.VF/master_ttf_interpolatable/Secuela-ExtraBoldItalic.ttf
Italic-fonts/Variable-TT/Secuela.VF/master_ttf_interpolatable/Secuela-LightItalic.ttf
Italic-fonts/Variable-TT/Secuela.VF/Secuela-Italic-1_708-rl1001.designspace
Italic-fonts/Web-PS/Secuela-SemiBoldItalic.woff2
Italic-fonts/Web-PS/Secuela-SemiBoldItalic.otf
Italic-fonts/Web-PS/Secuela-MediumItalic.woff2
Italic-fonts/Web-PS/Secuela-MediumItalic.otf
Italic-fonts/Web-PS/Secuela-LightItalic.woff2
Italic-fonts/Web-PS/Secuela-LightItalic.otf
Italic-fonts/Web-PS/Secuela-Italic.woff2
Italic-fonts/Web-PS/Secuela-Italic.otf
Italic-fonts/Web-PS/Secuela-ExtraBoldItalic.woff2
Italic-fonts/Web-PS/Secuela-ExtraBoldItalic.otf
Italic-fonts/Web-PS/Secuela-BoldItalic.woff2
Italic-fonts/Web-PS/Secuela-BoldItalic.otf
Italic-fonts/Variable-TT/Secuela.VF/Secuela-Italic-1_708-rl1001.designspace
Italic-fonts/Variable-TT/Secuela.VF/master_ttf_interpolatable/Secuela-LightItalic.ttf
Italic-fonts/Variable-TT/Secuela.VF/master_ttf_interpolatable/Secuela-ExtraBoldItalic.ttf
Italic-fonts/Variable-TT/Secuela-Italic-1_708-rl1001-VF.ttf
Italic-fonts/OpenType-TT/Secuela-SemiBoldItalic.ttf
Italic-fonts/OpenType-TT/Secuela-MediumItalic.ttf
Italic-fonts/OpenType-TT/Secuela-LightItalic.ttf
Italic-fonts/OpenType-TT/Secuela-Italic.ttf
Italic-fonts/OpenType-TT/Secuela-ExtraBoldItalic.ttf
Italic-fonts/OpenType-TT/Secuela-BoldItalic.ttf
Italic-fonts/OpenType-PS/Secuela-SemiBoldItalic.otf
Italic-fonts/OpenType-PS/Secuela-MediumItalic.otf
Italic-fonts/OpenType-PS/Secuela-LightItalic.otf
Italic-fonts/OpenType-PS/Secuela-Italic.otf
Italic-fonts/OpenType-PS/Secuela-ExtraBoldItalic.otf
Italic-fonts/OpenType-PS/Secuela-BoldItalic.otf
FONTLOG.txt
docs/Specimen-Secuela.png
README.md
Regular-fonts/OpenType-PS/Secuela-Bold.otf
Regular-fonts/OpenType-PS/Secuela-ExtraBold.otf
Regular-fonts/OpenType-PS/Secuela-Light.otf
Regular-fonts/OpenType-PS/Secuela-Medium.otf
Regular-fonts/OpenType-PS/Secuela-Regular.otf
Regular-fonts/OpenType-PS/Secuela-SemiBold.otf
Regular-fonts/OpenType-TT/Secuela-Bold.ttf
Regular-fonts/OpenType-TT/Secuela-ExtraBold.ttf
Regular-fonts/OpenType-TT/Secuela-Light.ttf
Regular-fonts/OpenType-TT/Secuela-Medium.ttf
Regular-fonts/OpenType-TT/Secuela-Regular.ttf
Regular-fonts/OpenType-TT/Secuela-SemiBold.ttf
Regular-fonts/Variable-TT/Secuela-Regular-1_708-rl1001-VF.ttf
Regular-fonts/Variable-TT/Secuela-Regular-1_708-rl1002-TTF-VF.ttf
Regular-fonts/Variable-TT/Secuela.VF/master_ttf_interpolatable/Secuela-ExtraBold.ttf
Regular-fonts/Variable-TT/Secuela.VF/master_ttf_interpolatable/Secuela-Light.ttf
Regular-fonts/Variable-TT/Secuela.VF/Secuela-Regular-1_708-rl1002-TTF.designspace
Sources-PS-TTF/Secuela-Italic-1_708-rl1002-PS.vfc
Sources-PS-TTF/Secuela-Regular-1_708-rl1002-PS.181120-1521.vfc
Sources-PS-TTF/Secuela-Regular-1_708-rl1002-PS.vfc
Sources-PS-TTF/Secuela-Regular-1_708-rl1002-TTF.vfc
Specimen-Secuela.pdf
