/* Webfont: Secuela-MediumItalic */@font-face {
    font-family: 'SecuelaMed';
    src: url('Secuela-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Secuela-MediumItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

