/* Webfont: Secuela-SemiBoldItalic */@font-face {
    font-family: 'SecuelaSemBd';
    src: url('Secuela-SemiBoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Secuela-SemiBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

