/* Webfont: Secuela-ExtraBoldItalic */@font-face {
    font-family: 'SecuelaExtBd';
    src: url('Secuela-ExtraBoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Secuela-ExtraBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

