<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>730</integer>
  <key>capHeight</key>
  <integer>688</integer>
  <key>copyright</key>
  <string>Copyright (c) 2018 by deFharo. All rights reserved.</string>
  <key>descender</key>
  <integer>-179</integer>
  <key>familyName</key>
  <string>Secuela</string>
  <key>italicAngle</key>
  <integer>-0</integer>
  <key>openTypeHeadCreated</key>
  <string>2018/11/15 23:47:21</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>note</key>
  <string>I intend to expand the table of characters to add the Greek alphabet and Cyrillic. I appreciate any kind of collaboration and comments to improve this typographic family.</string>
  <key>openTypeHheaAscender</key>
  <integer>0</integer>
  <key>openTypeHheaDescender</key>
  <integer>0</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>Fernando Haro</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://defharo.com</string>
  <key>openTypeNameLicense</key>
  <string>Copyright (c) 2018, Fernando Haro (fernando@defharo.es),
with Reserved Font Name: Secuela.

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>deFharo</string>
  <key>openTypeNameDescription</key>
  <string>&quot;Secuela&quot; is a family of 16 condensed fonts (OFL) Sans Serif of geometric construction and neo-Gothic style with short descenders and a humanistic finish in the curves to avoid the coldness of purely grotesque typographies, evoking a feeling of warmth and personality , which results in a friendly and very readable typography, is specially drawn for the composition of any text, signage or headlines, both for printing and for screen.</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Secuela</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Semi Bold</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.704</string>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>0</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>0</integer>
  <key>openTypeOS2Type</key>
  <array>
    <integer>2</integer>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>730</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-179</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>210</integer>
  <key>openTypeOS2VendorID</key>
  <string>DFHA</string>
  <key>openTypeOS2WeightClass</key>
  <integer>600</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>963</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>416</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-20</integer>
    <integer>0</integer>
  </array>
  <key>postscriptFamilyBlues</key>
  <array>
    <integer>-10</integer>
    <integer>0</integer>
    <integer>542</integer>
    <integer>555</integer>
    <integer>688</integer>
    <integer>698</integer>
  </array>
  <key>postscriptFamilyOtherBlues</key>
  <array>
    <integer>-184</integer>
    <integer>-180</integer>
  </array>
  <key>postscriptFontName</key>
  <string>Secuela-SemiBold</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>Secuela Semi Bold</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>115</integer>
    <integer>132</integer>
    <integer>196</integer>
    <integer>249</integer>
    <integer>37</integer>
    <integer>47</integer>
    <integer>54</integer>
    <integer>80</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>103</integer>
    <integer>137</integer>
    <integer>154</integer>
    <integer>44</integer>
    <integer>54</integer>
    <integer>58</integer>
    <integer>79</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-100</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Semi Bold</string>
  <key>styleMapFamilyName</key>
  <string>Secuela SemBd</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Semi Bold</string>
  <key>trademark</key>
  <string>Secuela is a trademark of deFharo.</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>542</integer>
</dict>
</plist>
