/* Webfont: Secuela-SemiBold */@font-face {
    font-family: 'SecuelaSemBd';
    src: url('Secuela-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('Secuela-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

