/* Webfont: Secuela-Light */@font-face {
    font-family: 'SecuelaLight';
    src: url('Secuela-Light.woff2') format('woff2'), /* Modern Browsers */
         url('Secuela-Light.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

