/* Webfont: Secuela-Black */@font-face {
    font-family: 'SecuelaBlack';
    src: url('Secuela-Black.woff2') format('woff2'), /* Modern Browsers */
         url('Secuela-Black.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

