/* Webfont: Secuela-Medium */@font-face {
    font-family: 'SecuelaMed';
    src: url('Secuela-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('Secuela-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

