/* Webfont: Secuela-LightItalic */@font-face {
    font-family: 'SecuelaLight';
    src: url('Secuela-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('Secuela-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('Secuela-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

