/* Webfont: Secuela-ExtraLightItalic */@font-face {
    font-family: 'SecuelaExtLt';
    src: url('Secuela-ExtraLightItalic.eot'); /* IE9 Compat Modes */
    src: url('Secuela-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-ExtraLightItalic.woff') format('woff'), /* Modern Browsers */
         url('Secuela-ExtraLightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

