/* Webfont: Secuela-ExtraBoldItalic */@font-face {
    font-family: 'SecuelaExtBd';
    src: url('Secuela-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Secuela-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-ExtraBoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Secuela-ExtraBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

