/* Webfont: Secuela-SemiBoldItalic */@font-face {
    font-family: 'SecuelaSemBd';
    src: url('Secuela-SemiBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Secuela-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-SemiBoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Secuela-SemiBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

