/* Webfont: Secuela-BoldItalic */@font-face {
    font-family: 'Secuela';
    src: url('Secuela-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Secuela-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Secuela-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

