/* Webfont: Secuela-BlackItalic */@font-face {
    font-family: 'SecuelaBlack';
    src: url('Secuela-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('Secuela-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Secuela-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('Secuela-BlackItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

