<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B.sc</key>
  <dict>
    <key>public.kern2.O.sc1</key>
    <integer>-2</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>C.sc</key>
  <dict>
    <key>C.sc</key>
    <integer>-10</integer>
    <key>V.sc</key>
    <integer>-10</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>colon</key>
    <integer>-12</integer>
    <key>semicolon</key>
    <integer>-9</integer>
    <key>public.kern2._A_drech</key>
    <integer>-20</integer>
    <key>public.kern2._J</key>
    <integer>-10</integer>
    <key>public.kern2._b_p</key>
    <integer>12</integer>
    <key>public.kern2._puntos</key>
    <integer>-100</integer>
    <key>public.kern2._r</key>
    <integer>12</integer>
    <key>public.kern2._t_derecha</key>
    <integer>12</integer>
  </dict>
  <key>F.sc</key>
  <dict>
    <key>public.kern2.A.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-7</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>comma</key>
    <integer>-130</integer>
    <key>public.kern2._A_drech</key>
    <integer>-40</integer>
    <key>public.kern2._J</key>
    <integer>-30</integer>
    <key>public.kern2._a1</key>
    <integer>-12</integer>
    <key>public.kern2._e</key>
    <integer>-12</integer>
    <key>public.kern2._o</key>
    <integer>-12</integer>
    <key>public.kern2._puntos</key>
    <integer>-32</integer>
    <key>public.kern2.d</key>
    <integer>-12</integer>
  </dict>
  <key>P.sc</key>
  <dict>
    <key>AE.sc</key>
    <integer>-32</integer>
    <key>X.sc</key>
    <integer>-10</integer>
    <key>public.kern2.A.sc1</key>
    <integer>-22</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-30</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.Z.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>colon</key>
    <integer>-37</integer>
    <key>ocircumflex</key>
    <integer>-28</integer>
    <key>odieresis</key>
    <integer>-19</integer>
    <key>semicolon</key>
    <integer>-37</integer>
    <key>public.kern2._A_drech</key>
    <integer>-37</integer>
    <key>public.kern2._J</key>
    <integer>-20</integer>
    <key>public.kern2._S</key>
    <integer>-10</integer>
    <key>public.kern2._a1</key>
    <integer>-13</integer>
    <key>public.kern2._e</key>
    <integer>-13</integer>
    <key>public.kern2._g</key>
    <integer>-12</integer>
    <key>public.kern2._hyphen</key>
    <integer>-18</integer>
    <key>public.kern2._i</key>
    <integer>-18</integer>
    <key>public.kern2._o</key>
    <integer>-13</integer>
    <key>public.kern2._puntos</key>
    <integer>-100</integer>
    <key>public.kern2._r</key>
    <integer>-6</integer>
    <key>public.kern2._u</key>
    <integer>-16</integer>
    <key>public.kern2._y_izqu</key>
    <integer>-6</integer>
  </dict>
  <key>V.sc</key>
  <dict>
    <key>public.kern2.A.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-8</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>public.kern2._C</key>
    <integer>-10</integer>
    <key>public.kern2._G</key>
    <integer>-10</integer>
    <key>public.kern2._O</key>
    <integer>-10</integer>
    <key>public.kern2._S</key>
    <integer>-10</integer>
  </dict>
  <key>X.sc</key>
  <dict>
    <key>C.sc</key>
    <integer>-10</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.U.sc1</key>
    <integer>-8</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>seven</key>
    <integer>-10</integer>
    <key>six</key>
    <integer>12</integer>
    <key>public.kern2._zero</key>
    <integer>12</integer>
  </dict>
  <key>eightoldstyle</key>
  <dict>
    <key>oneoldstyle</key>
    <integer>-10</integer>
    <key>sevenoldstyle</key>
    <integer>-10</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>two</key>
    <integer>23</integer>
  </dict>
  <key>fiveoldstyle</key>
  <dict>
    <key>oneoldstyle</key>
    <integer>-10</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>seven</key>
    <integer>-12</integer>
  </dict>
  <key>fouroldstyle</key>
  <dict>
    <key>nineoldstyle</key>
    <integer>-10</integer>
    <key>oneoldstyle</key>
    <integer>-20</integer>
    <key>sixoldstyle</key>
    <integer>-20</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>seven</key>
    <integer>-10</integer>
    <key>public.kern2._zero</key>
    <integer>12</integer>
  </dict>
  <key>nineoldstyle</key>
  <dict>
    <key>sevenoldstyle</key>
    <integer>-20</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>four</key>
    <integer>-44</integer>
    <key>nine</key>
    <integer>-42</integer>
    <key>one</key>
    <integer>-72</integer>
    <key>seven</key>
    <integer>-36</integer>
    <key>two</key>
    <integer>-10</integer>
    <key>public.kern2._zero</key>
    <integer>-24</integer>
  </dict>
  <key>oneoldstyle</key>
  <dict>
    <key>eightoldstyle</key>
    <integer>-10</integer>
    <key>fiveoldstyle</key>
    <integer>-20</integer>
    <key>nineoldstyle</key>
    <integer>-20</integer>
    <key>sixoldstyle</key>
    <integer>-10</integer>
    <key>threeoldstyle</key>
    <integer>-10</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>q</key>
    <integer>-0</integer>
    <key>v</key>
    <integer>-0</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2._f</key>
    <integer>4</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>four</key>
    <integer>-22</integer>
  </dict>
  <key>sevenoldstyle</key>
  <dict>
    <key>eightoldstyle</key>
    <integer>-10</integer>
    <key>fouroldstyle</key>
    <integer>-30</integer>
    <key>nineoldstyle</key>
    <integer>-30</integer>
    <key>oneoldstyle</key>
    <integer>-8</integer>
    <key>sevenoldstyle</key>
    <integer>-10</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>eight</key>
    <integer>12</integer>
    <key>seven</key>
    <integer>-20</integer>
  </dict>
  <key>sixoldstyle</key>
  <dict>
    <key>oneoldstyle</key>
    <integer>-20</integer>
    <key>threeoldstyle</key>
    <integer>-10</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>seven</key>
    <integer>-20</integer>
    <key>three</key>
    <integer>12</integer>
    <key>two</key>
    <integer>12</integer>
  </dict>
  <key>threeoldstyle</key>
  <dict>
    <key>oneoldstyle</key>
    <integer>-10</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>public.kern2._zero</key>
    <integer>12</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-50</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>q</key>
    <integer>-6</integer>
  </dict>
  <key>public.kern1.A.sc</key>
  <dict>
    <key>V.sc</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-4</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.W.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-27</integer>
  </dict>
  <key>public.kern1.AE.sc</key>
  <dict>
    <key>B.sc</key>
    <integer>-10</integer>
    <key>C.sc</key>
    <integer>-40</integer>
    <key>V.sc</key>
    <integer>-52</integer>
    <key>public.kern2.E.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-40</integer>
    <key>public.kern2.M.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-40</integer>
    <key>public.kern2.R.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-50</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-50</integer>
    <key>public.kern2.U.sc1</key>
    <integer>-50</integer>
    <key>public.kern2.W.sc1</key>
    <integer>-50</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.D.sc</key>
  <dict>
    <key>V.sc</key>
    <integer>-10</integer>
    <key>X.sc</key>
    <integer>-10</integer>
    <key>public.kern2.A.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.D.sc1</key>
    <integer>-4</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-4</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.W.sc1</key>
    <integer>-8</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.G.sc</key>
  <dict>
    <key>C.sc</key>
    <integer>-8</integer>
    <key>V.sc</key>
    <integer>-10</integer>
    <key>X.sc</key>
    <integer>-20</integer>
    <key>public.kern2.A.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-5</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-5</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.W.sc1</key>
    <integer>-8</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.Z.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.J.sc</key>
  <dict>
    <key>public.kern2.J.sc1</key>
    <integer>-8</integer>
  </dict>
  <key>public.kern1.K.sc</key>
  <dict>
    <key>C.sc</key>
    <integer>-30</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-30</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-30</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.U.sc1</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L.sc</key>
  <dict>
    <key>C.sc</key>
    <integer>-30</integer>
    <key>V.sc</key>
    <integer>-20</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-30</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-30</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-30</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.U.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.W.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.O.sc</key>
  <dict>
    <key>V.sc</key>
    <integer>-10</integer>
    <key>X.sc</key>
    <integer>-10</integer>
    <key>public.kern2.A.sc1</key>
    <integer>-4</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-6</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-4</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.W.sc1</key>
    <integer>-6</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.Z.sc1</key>
    <integer>-8</integer>
  </dict>
  <key>public.kern1.R.sc</key>
  <dict>
    <key>C.sc</key>
    <integer>-28</integer>
    <key>V.sc</key>
    <integer>-10</integer>
    <key>X.sc</key>
    <integer>-18</integer>
    <key>public.kern2.A.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.R.sc1</key>
    <integer>-6</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.U.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-30</integer>
    <key>public.kern2.Z.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.S.sc</key>
  <dict>
    <key>public.kern2.J.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-4</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-8</integer>
    <key>public.kern2.T.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.T.sc</key>
  <dict>
    <key>C.sc</key>
    <integer>-10</integer>
    <key>public.kern2.A.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.U.sc</key>
  <dict>
    <key>X.sc</key>
    <integer>-8</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.Y.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.W.sc</key>
  <dict>
    <key>public.kern2.A.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-8</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-10</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-7</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.Y.sc</key>
  <dict>
    <key>C.sc</key>
    <integer>-10</integer>
    <key>public.kern2.A.sc1</key>
    <integer>-27</integer>
    <key>public.kern2.G.sc1</key>
    <integer>-18</integer>
    <key>public.kern2.J.sc1</key>
    <integer>-30</integer>
    <key>public.kern2.O.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-20</integer>
    <key>public.kern2.U.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.Z.sc</key>
  <dict>
    <key>public.kern2.O.sc1</key>
    <integer>-8</integer>
    <key>public.kern2.S.sc1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._A</key>
  <dict>
    <key>V</key>
    <integer>-37</integer>
    <key>public.kern2._T</key>
    <integer>-37</integer>
    <key>public.kern2._W</key>
    <integer>-20</integer>
    <key>public.kern2._Y</key>
    <integer>-45</integer>
    <key>public.kern2._quotedblright</key>
    <integer>-90</integer>
    <key>public.kern2._w_derecha</key>
    <integer>-18</integer>
    <key>public.kern2._y_izqu</key>
    <integer>-18</integer>
    <key>public.kern2.v2</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1._B</key>
  <dict>
    <key>public.kern2._J</key>
    <integer>-10</integer>
    <key>public.kern2._S</key>
    <integer>-10</integer>
    <key>public.kern2._Y</key>
    <integer>-10</integer>
    <key>public.kern2._r</key>
    <integer>36</integer>
  </dict>
  <key>public.kern1._Cizquierda</key>
  <dict>
    <key>X</key>
    <integer>-6</integer>
    <key>public.kern2._T</key>
    <integer>-12</integer>
    <key>public.kern2._Y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._D</key>
  <dict>
    <key>X</key>
    <integer>-10</integer>
    <key>public.kern2._A_drech</key>
    <integer>-10</integer>
    <key>public.kern2._J</key>
    <integer>-10</integer>
    <key>public.kern2._T</key>
    <integer>-12</integer>
    <key>public.kern2._Y</key>
    <integer>-20</integer>
    <key>public.kern2._Z</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._G</key>
  <dict>
    <key>X</key>
    <integer>-10</integer>
    <key>public.kern2._J</key>
    <integer>-10</integer>
    <key>public.kern2._T</key>
    <integer>-24</integer>
    <key>public.kern2._Y</key>
    <integer>-10</integer>
    <key>public.kern2._Z</key>
    <integer>-10</integer>
    <key>public.kern2._a1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._K</key>
  <dict>
    <key>public.kern2._C</key>
    <integer>-30</integer>
    <key>public.kern2._G</key>
    <integer>-30</integer>
    <key>public.kern2._O</key>
    <integer>-30</integer>
    <key>public.kern2._S</key>
    <integer>-30</integer>
    <key>public.kern2._a1</key>
    <integer>-12</integer>
    <key>public.kern2._c</key>
    <integer>-12</integer>
    <key>public.kern2._e</key>
    <integer>-36</integer>
    <key>public.kern2._g</key>
    <integer>-12</integer>
    <key>public.kern2._o</key>
    <integer>-12</integer>
    <key>public.kern2.d</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1._L</key>
  <dict>
    <key>V</key>
    <integer>-50</integer>
    <key>public.kern2._C</key>
    <integer>-20</integer>
    <key>public.kern2._G</key>
    <integer>-20</integer>
    <key>public.kern2._O</key>
    <integer>-20</integer>
    <key>public.kern2._S</key>
    <integer>-30</integer>
    <key>public.kern2._T</key>
    <integer>-60</integer>
    <key>public.kern2._W</key>
    <integer>-40</integer>
    <key>public.kern2._Y</key>
    <integer>-52</integer>
    <key>public.kern2._o</key>
    <integer>-24</integer>
    <key>public.kern2._quotedblright</key>
    <integer>-60</integer>
    <key>public.kern2._y_izqu</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1._O</key>
  <dict>
    <key>X</key>
    <integer>-10</integer>
    <key>public.kern2._J</key>
    <integer>-10</integer>
    <key>public.kern2._T</key>
    <integer>-12</integer>
    <key>public.kern2._Y</key>
    <integer>-10</integer>
    <key>public.kern2._Z</key>
    <integer>-10</integer>
    <key>public.kern2._a1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._R</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>public.kern2._C</key>
    <integer>-20</integer>
    <key>public.kern2._G</key>
    <integer>-20</integer>
    <key>public.kern2._J</key>
    <integer>-10</integer>
    <key>public.kern2._O</key>
    <integer>-20</integer>
    <key>public.kern2._S</key>
    <integer>-20</integer>
    <key>public.kern2._T</key>
    <integer>-22</integer>
    <key>public.kern2._Y</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1._S</key>
  <dict>
    <key>X</key>
    <integer>-6</integer>
    <key>public.kern2._T</key>
    <integer>-12</integer>
    <key>public.kern2._Y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._T</key>
  <dict>
    <key>colon</key>
    <integer>-74</integer>
    <key>comma</key>
    <integer>-90</integer>
    <key>d</key>
    <integer>-24</integer>
    <key>ellipsis</key>
    <integer>-66</integer>
    <key>odieresis</key>
    <integer>-37</integer>
    <key>ograve</key>
    <integer>-37</integer>
    <key>period</key>
    <integer>-66</integer>
    <key>quotedblbase</key>
    <integer>-66</integer>
    <key>quotesinglbase</key>
    <integer>-66</integer>
    <key>scaron</key>
    <integer>-23</integer>
    <key>semicolon</key>
    <integer>-74</integer>
    <key>public.kern2._A_drech</key>
    <integer>-26</integer>
    <key>public.kern2._C</key>
    <integer>-12</integer>
    <key>public.kern2._G</key>
    <integer>-24</integer>
    <key>public.kern2._J</key>
    <integer>-24</integer>
    <key>public.kern2._O</key>
    <integer>-12</integer>
    <key>public.kern2._S</key>
    <integer>-23</integer>
    <key>public.kern2._a1</key>
    <integer>-38</integer>
    <key>public.kern2._c</key>
    <integer>-38</integer>
    <key>public.kern2._e</key>
    <integer>-38</integer>
    <key>public.kern2._hyphen</key>
    <integer>-74</integer>
    <key>public.kern2._i</key>
    <integer>-50</integer>
    <key>public.kern2._n</key>
    <integer>-24</integer>
    <key>public.kern2._o</key>
    <integer>-38</integer>
    <key>public.kern2._r</key>
    <integer>-14</integer>
    <key>public.kern2._s_izq</key>
    <integer>-54</integer>
    <key>public.kern2._u</key>
    <integer>-39</integer>
    <key>public.kern2._w_derecha</key>
    <integer>-38</integer>
    <key>public.kern2._y_izqu</key>
    <integer>-20</integer>
    <key>public.kern2._z</key>
    <integer>-12</integer>
    <key>public.kern2.d</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1._U</key>
  <dict>
    <key>public.kern2._Z</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._W</key>
  <dict>
    <key>colon</key>
    <integer>-18</integer>
    <key>comma</key>
    <integer>-60</integer>
    <key>ellipsis</key>
    <integer>-55</integer>
    <key>odieresis</key>
    <integer>-14</integer>
    <key>period</key>
    <integer>-55</integer>
    <key>quotedblbase</key>
    <integer>-55</integer>
    <key>quotesinglbase</key>
    <integer>-55</integer>
    <key>semicolon</key>
    <integer>-18</integer>
    <key>public.kern2._A_drech</key>
    <integer>-40</integer>
    <key>public.kern2._J</key>
    <integer>-10</integer>
    <key>public.kern2._S</key>
    <integer>-4</integer>
    <key>public.kern2._a1</key>
    <integer>-18</integer>
    <key>public.kern2._e</key>
    <integer>-18</integer>
    <key>public.kern2._hyphen</key>
    <integer>-18</integer>
    <key>public.kern2._o</key>
    <integer>-18</integer>
    <key>public.kern2._u</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1._Y</key>
  <dict>
    <key>colon</key>
    <integer>-74</integer>
    <key>comma</key>
    <integer>-115</integer>
    <key>ellipsis</key>
    <integer>-100</integer>
    <key>odieresis</key>
    <integer>-41</integer>
    <key>period</key>
    <integer>-100</integer>
    <key>quotedblbase</key>
    <integer>-100</integer>
    <key>quotesinglbase</key>
    <integer>-100</integer>
    <key>semicolon</key>
    <integer>-74</integer>
    <key>public.kern2._A_drech</key>
    <integer>-45</integer>
    <key>public.kern2._C</key>
    <integer>-10</integer>
    <key>public.kern2._G</key>
    <integer>-10</integer>
    <key>public.kern2._J</key>
    <integer>-30</integer>
    <key>public.kern2._O</key>
    <integer>-10</integer>
    <key>public.kern2._S</key>
    <integer>-20</integer>
    <key>public.kern2._a1</key>
    <integer>-43</integer>
    <key>public.kern2._b_p</key>
    <integer>-25</integer>
    <key>public.kern2._e</key>
    <integer>-43</integer>
    <key>public.kern2._hyphen</key>
    <integer>-55</integer>
    <key>public.kern2._i</key>
    <integer>-18</integer>
    <key>public.kern2._o</key>
    <integer>-31</integer>
    <key>public.kern2._s_izq</key>
    <integer>-24</integer>
    <key>public.kern2._u</key>
    <integer>-36</integer>
    <key>public.kern2._w_derecha</key>
    <integer>-12</integer>
    <key>public.kern2._y_izqu</key>
    <integer>-12</integer>
    <key>public.kern2._z</key>
    <integer>-12</integer>
    <key>public.kern2.d</key>
    <integer>-43</integer>
    <key>public.kern2.v2</key>
    <integer>-25</integer>
    <key>public.kern2.x2</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1._Z</key>
  <dict>
    <key>public.kern2._b_p</key>
    <integer>12</integer>
  </dict>
  <key>public.kern1._a</key>
  <dict>
    <key>public.kern2._a1</key>
    <integer>-8</integer>
    <key>public.kern2._t_derecha</key>
    <integer>-10</integer>
    <key>public.kern2.v2</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1._b_p</key>
  <dict>
    <key>public.kern2._t_derecha</key>
    <integer>-4</integer>
  </dict>
  <key>public.kern1._cderecha</key>
  <dict>
    <key>public.kern2._e</key>
    <integer>-3</integer>
    <key>public.kern2._i</key>
    <integer>-6</integer>
    <key>public.kern2._t_derecha</key>
    <integer>-14</integer>
    <key>public.kern2._u</key>
    <integer>-9</integer>
  </dict>
  <key>public.kern1._d</key>
  <dict>
    <key>public.kern2._f</key>
    <integer>4</integer>
  </dict>
  <key>public.kern1._e_derecha</key>
  <dict>
    <key>public.kern2._a1</key>
    <integer>-4</integer>
    <key>public.kern2._g</key>
    <integer>3</integer>
    <key>public.kern2._t_derecha</key>
    <integer>-6</integer>
  </dict>
  <key>public.kern1._f_izqu</key>
  <dict>
    <key>public.kern2._a1</key>
    <integer>-20</integer>
    <key>public.kern2._e</key>
    <integer>-16</integer>
    <key>public.kern2._o</key>
    <integer>-24</integer>
    <key>public.kern2._s_izq</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1._g</key>
  <dict>
    <key>public.kern2._a1</key>
    <integer>-10</integer>
    <key>public.kern2._e</key>
    <integer>-10</integer>
    <key>public.kern2._f</key>
    <integer>6</integer>
    <key>public.kern2._g</key>
    <integer>-5</integer>
    <key>public.kern2._i</key>
    <integer>-6</integer>
    <key>public.kern2._l</key>
    <integer>-4</integer>
    <key>public.kern2._t_derecha</key>
    <integer>-4</integer>
  </dict>
  <key>public.kern1._i_izqu</key>
  <dict>
    <key>public.kern2._s_izq</key>
    <integer>-4</integer>
  </dict>
  <key>public.kern1._k</key>
  <dict>
    <key>public.kern2._e</key>
    <integer>-4</integer>
    <key>public.kern2._o</key>
    <integer>-8</integer>
  </dict>
  <key>public.kern1._l_izqu</key>
  <dict>
    <key>public.kern2._s_izq</key>
    <integer>-8</integer>
  </dict>
  <key>public.kern1._n</key>
  <dict>
    <key>public.kern2._s_izq</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1._o_izquierda</key>
  <dict>
    <key>public.kern2._s_izq</key>
    <integer>-5</integer>
    <key>public.kern2._t_derecha</key>
    <integer>-3</integer>
    <key>public.kern2._w_derecha</key>
    <integer>-10</integer>
    <key>public.kern2.x2</key>
    <integer>-2</integer>
  </dict>
  <key>public.kern1._quotedblleft</key>
  <dict>
    <key>public.kern2._quotedblleft</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1._quotedblright</key>
  <dict>
    <key>public.kern2._quotedblright</key>
    <integer>-30</integer>
    <key>public.kern2._s_izq</key>
    <integer>-90</integer>
    <key>public.kern2._t_derecha</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1._r</key>
  <dict>
    <key>colon</key>
    <integer>-10</integer>
    <key>comma</key>
    <integer>-70</integer>
    <key>d</key>
    <integer>-12</integer>
    <key>dcaron</key>
    <integer>-10</integer>
    <key>dcroat</key>
    <integer>-10</integer>
    <key>dsuperior</key>
    <integer>-10</integer>
    <key>ellipsis</key>
    <integer>-10</integer>
    <key>period</key>
    <integer>-10</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>qsuperior</key>
    <integer>-10</integer>
    <key>quotedblbase</key>
    <integer>-10</integer>
    <key>quotesinglbase</key>
    <integer>-10</integer>
    <key>semicolon</key>
    <integer>-10</integer>
    <key>public.kern2._a1</key>
    <integer>-12</integer>
    <key>public.kern2._e</key>
    <integer>-16</integer>
    <key>public.kern2._g</key>
    <integer>-4</integer>
    <key>public.kern2._hyphen</key>
    <integer>-37</integer>
    <key>public.kern2._o</key>
    <integer>-16</integer>
  </dict>
  <key>public.kern1._s</key>
  <dict>
    <key>public.kern2._s_izq</key>
    <integer>-8</integer>
  </dict>
  <key>public.kern1._t_izqu</key>
  <dict>
    <key>p</key>
    <integer>12</integer>
    <key>q</key>
    <integer>8</integer>
    <key>public.kern2._a1</key>
    <integer>4</integer>
    <key>public.kern2._b_p</key>
    <integer>12</integer>
    <key>public.kern2._c</key>
    <integer>15</integer>
    <key>public.kern2._e</key>
    <integer>4</integer>
    <key>public.kern2._h</key>
    <integer>12</integer>
    <key>public.kern2._o</key>
    <integer>10</integer>
    <key>public.kern2._r</key>
    <integer>12</integer>
    <key>public.kern2._y_izqu</key>
    <integer>16</integer>
    <key>public.kern2.d</key>
    <integer>8</integer>
  </dict>
  <key>public.kern1._w_derecha</key>
  <dict>
    <key>comma</key>
    <integer>-50</integer>
    <key>public.kern2._a1</key>
    <integer>-8</integer>
    <key>public.kern2._o</key>
    <integer>-6</integer>
    <key>public.kern2._puntos</key>
    <integer>-14</integer>
    <key>public.kern2._s_izq</key>
    <integer>-12</integer>
    <key>public.kern2._z</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1._y_izqu</key>
  <dict>
    <key>comma</key>
    <integer>-50</integer>
    <key>public.kern2._a1</key>
    <integer>-4</integer>
    <key>public.kern2._o</key>
    <integer>-2</integer>
    <key>public.kern2._puntos</key>
    <integer>-14</integer>
    <key>public.kern2._s_izq</key>
    <integer>-10</integer>
    <key>public.kern2._z</key>
    <integer>-6</integer>
  </dict>
  <key>public.kern1._z</key>
  <dict>
    <key>public.kern2._e</key>
    <integer>-5</integer>
    <key>public.kern2._s_izq</key>
    <integer>-4</integer>
  </dict>
  <key>public.kern1._zero</key>
  <dict>
    <key>eight</key>
    <integer>12</integer>
    <key>nine</key>
    <integer>12</integer>
    <key>seven</key>
    <integer>-10</integer>
    <key>two</key>
    <integer>12</integer>
    <key>public.kern2._zero</key>
    <integer>12</integer>
    <key>public.kern2.one1</key>
    <integer>-10</integer>
    <key>public.kern2.seven1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.eight</key>
  <dict>
    <key>public.kern2.one1</key>
    <integer>-20</integer>
    <key>public.kern2.seven1</key>
    <integer>-10</integer>
    <key>public.kern2.six1</key>
    <integer>12</integer>
    <key>public.kern2.two1</key>
    <integer>21</integer>
  </dict>
  <key>public.kern1.five</key>
  <dict>
    <key>public.kern2.one1</key>
    <integer>-12</integer>
    <key>public.kern2.three1</key>
    <integer>10</integer>
    <key>public.kern2.two1</key>
    <integer>23</integer>
  </dict>
  <key>public.kern1.four</key>
  <dict>
    <key>public.kern2.one1</key>
    <integer>-54</integer>
    <key>public.kern2.seven1</key>
    <integer>-12</integer>
    <key>public.kern2.two1</key>
    <integer>12</integer>
  </dict>
  <key>public.kern1.nine</key>
  <dict>
    <key>public.kern2.one1</key>
    <integer>-20</integer>
    <key>public.kern2.seven1</key>
    <integer>-10</integer>
    <key>public.kern2.two1</key>
    <integer>12</integer>
  </dict>
  <key>public.kern1.one</key>
  <dict>
    <key>public.kern2.eight1</key>
    <integer>-20</integer>
    <key>public.kern2.five1</key>
    <integer>-24</integer>
    <key>public.kern2.four1</key>
    <integer>-44</integer>
    <key>public.kern2.nine1</key>
    <integer>-42</integer>
    <key>public.kern2.one1</key>
    <integer>-72</integer>
    <key>public.kern2.seven1</key>
    <integer>-36</integer>
    <key>public.kern2.six1</key>
    <integer>-20</integer>
    <key>public.kern2.three1</key>
    <integer>-20</integer>
    <key>public.kern2.two1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.seven</key>
  <dict>
    <key>public.kern2._zero</key>
    <integer>-20</integer>
    <key>public.kern2.eight1</key>
    <integer>-18</integer>
    <key>public.kern2.four1</key>
    <integer>-22</integer>
    <key>public.kern2.nine1</key>
    <integer>-20</integer>
    <key>public.kern2.one1</key>
    <integer>-34</integer>
    <key>public.kern2.seven1</key>
    <integer>-10</integer>
    <key>public.kern2.six1</key>
    <integer>-10</integer>
    <key>public.kern2.three1</key>
    <integer>-10</integer>
    <key>public.kern2.two1</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.six</key>
  <dict>
    <key>public.kern2.eight1</key>
    <integer>12</integer>
    <key>public.kern2.four1</key>
    <integer>12</integer>
    <key>public.kern2.one1</key>
    <integer>-10</integer>
    <key>public.kern2.seven1</key>
    <integer>-20</integer>
    <key>public.kern2.two1</key>
    <integer>12</integer>
  </dict>
  <key>public.kern1.three</key>
  <dict>
    <key>public.kern2.one1</key>
    <integer>-20</integer>
    <key>public.kern2.seven1</key>
    <integer>-20</integer>
    <key>public.kern2.three1</key>
    <integer>12</integer>
    <key>public.kern2.two1</key>
    <integer>12</integer>
  </dict>
  <key>public.kern1.two</key>
  <dict>
    <key>public.kern2.four1</key>
    <integer>-20</integer>
    <key>public.kern2.one1</key>
    <integer>-36</integer>
    <key>public.kern2.seven1</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.v</key>
  <dict>
    <key>public.kern2._a1</key>
    <integer>-5</integer>
    <key>public.kern2._puntos</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.x</key>
  <dict>
    <key>public.kern2._a1</key>
    <integer>-4</integer>
    <key>public.kern2._o</key>
    <integer>-2</integer>
    <key>public.kern2._s_izq</key>
    <integer>-10</integer>
    <key>public.kern2.d</key>
    <integer>-6</integer>
  </dict>
</dict>
</plist>
